[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vimcommander"]
	path = vim/bundle/vimcommander
	url = https://github.com/lpenz/vimcommander.git
[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
